<html>
<head>
	<title>Unsplash Random Images</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>

<center>
	<img src="https://source.unsplash.com/random" style="height:600px;margin-bottom:50px">
</center>
<center>
	
	<button class="btn btn-primary" onclick="javascript:window.location.reload();">New Unsplash Image</button>
</center>


</body>
</html>